<!-- Form HTML -->
<form id="contact" action="https://formspree.io/f/mnqybpzb" method="POST">
<div class="contact-set">
	<label>Email:</label>
	<input type="email" name="email" required />
</div>
<div class="contact-set">
	<label for="message">Message:</label>
	<textarea id="message" name="message" required></textarea>
</div>
<div class="contact-set">
  <button id="form-button">Send Message</button>
</div>
<div class="contact-set form-status">
  <p id="form-status"></p>
</div>
</form>

<!-- Form Script -->
<script>
    var form = document.getElementById("contact");
    
    async function handleSubmit(event) {
      event.preventDefault();
      var status = document.getElementById("form-status");
      var data = new FormData(event.target);
      fetch(event.target.action, {
        method: form.method,
        body: data,
        headers: {
            'Accept': 'application/json'
        }
      }).then(response => {
        if (response.ok) {
          status.innerHTML = "{{ site.data.settings.success_message }}";
      	  status.classList.add("success");
          form.reset()
        } else {
          response.json().then(data => {
            if (Object.hasOwn(data, 'errors')) {
              status.innerHTML = data["errors"].map(error => error["message"]).join(", ")
            } else {
              status.innerHTML = "{{ site.data.settings.error_message }}"
            }
          })
        }
      }).catch(error => {
        status.innerHTML = "{{ site.data.settings.error_message }}"
      });
    }
    form.addEventListener("submit", handleSubmit)
</script>