{% assign nftlist = site.data.nfts | sort: 'entry' | sort_natural %}

<script>
const collections = [
{% for nft in nftlist %}
	{% if nft.link == '' or nft.link == null %}
	  {% capture nftlink %}https://looksrare.org/collections/{{ nft.contract }}/{{ nft.token_id }}{% endcapture %}
	{% else %}
	  {% assign nftlink = nft.link %}
	{% endif %}
  { collectionAddress: '{{ nft.contract }}', tokenId: {{ nft.token_id }}, buyLink: '{{ nftlink }}' }{% unless forloop.last %},{% endunless %}
{% endfor %}
];
</script>

<ul id="response" class="nft-list"></ul>